*{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.8;
}

p, li, a, h4{
  font-size: 25px;
}
span{
  font-size: 20px;
  text-align: justify;
}

p {
  text-align: justify;
}

.curriculum {
  width: 100vw;
  height: 140vw;
  /* background-color: thistle; */
}

.name {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5ch;
  font-size: 60px;
  margin-top: 40px;
  line-height: 1;
}

.title {
  font-weight: 400;
  color: grey;
  font-size: 30px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5vh 0;
}

h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.goals {
  grid-area: goals;
}
.experience {
  grid-area: exp;
}
.formation {
  grid-area: form;
}

.skills {
  grid-area: skills;
  margin: 0;
  line-height: 1;
}

.contact {
  grid-area: contact;
  border: 1px solid grey;
  margin: 15px 50px 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact h2 {
  margin: 0;
}

.contact ul {
  padding: 0;
  margin-bottom: 5px;
}

.contact li {
  list-style: none;
}

.contact a {
  text-decoration: none;
  margin-left: 1ch;
  color: black;
}

main {
  display: grid;
  width: 95vw;
  height: 95vh;
  grid-template-columns: 45vw 50vw;
  grid-template-rows: auto;
  grid-template-areas:
  "skills goals"
  "skills exp"
  "contact form"
  "contact _blank";
  margin: 0 auto;
  grid-column-gap: 1vw;
  padding: 2em;
}